body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    justify-content: left;
  }

  /*Main body*/
  
  main {
    padding: 20px;
  }

  /*Column containers*/

  #column1 {
    background-color:lightgray;
    height: 100vh;
  }

  #column2 {
    background-color: white;
    height: 100vh;
  }
  #column3 {
    background-color: lightgray;
    height: 100vh;
    
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }

  .buttonDiv {
    margin-bottom: 20px;
  }

  .tag {
    text-align: center;
    background-color: rgb(227, 227, 65);
    color: white;
    height: 25px;
    width: 50px;
    padding: 0px;
    padding-bottom: 20px;
    border-radius: 3px;
  }

  .post {
    margin-bottom: 30px;
  }

  .date {
    font-size: 12px;
    padding-left: 20px;
    text-align: bottom;
  }

  .upvote {
    margin: 20px;
    background-color: red;
  }

  .downvote {
    margin: 40px;
  }

  .upvotes {
    font-size: 40px;
  }

  /* Card styling/infinite scrolling styling */
  /* source: https://webdesign.tutsplus.com/tutorials/how-to-implement-infinite-scrolling-with-javascript--cms-37055 */

  #card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .card {
    height: 55vh;
    width: calc((100% / 3) - 16px);
    margin: 8px;
    border-radius: 3px;
    transition: all 200ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .card-actions {
    margin: 8px;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #loader {
    display: flex;
  }
  
  .skeleton-card {
    height: 55vh;
    width: calc((100% / 3) - 16px);
    margin: 8px;
    border-radius: 3px;
    transition: all 200ms ease-in-out;
    position: relative;
    background-color: #eaeaea;
  }
  
  .skeleton-card::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
    animation: load 1s infinite;
  }
  
  @keyframes load {
    100% {
      transform: translateX(100%);
    }
  }
  
  @media screen and (prefers-reduced-motion: reduce) {
    .skeleton-card::after {
      animation: none;
    }
  }